<% layout('/layout/boilerplate') %>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h3>Edit Place</h3>
            <form action="/places/<%= place.id %>?_method=PUT" method="POST" class="needs-validation"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="place[title]" id="title" value="<%= place.title %>"
                        required>
                    <div class="invalid-feedback">Cannot Be Empty!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="place[location]" id="location"
                        value="<%= place.location %>" required>
                    <div class="invalid-feedback">Cannot Be Empty!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" name="place[description]" id="description"
                        value="<%= place.description %>" required>
                    <div class="invalid-feedback">Cannot Be Empty!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input type="file" name="image" id="image" multiple>
                    <div class="invalid-feedback">Cannot Be Empty!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="cost">Cost</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                            name="place[cost]" id="place" value="<%= place.cost %>" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                        <div class="invalid-feedback">Cannot Be Empty!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <h4 class="mt-5"> Delete Images </h4>
                    <div class="row row-cols-1 row-cols-md-4 row-cols-lg-3 g-4 mb-3">
                        <% place.images.forEach((image, i)=> { %>
                            <div class="col">
                                <div class="card">
                                    <img class="card-img" src="<%= image.url %>" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                            value="<%= image.filename %>" id="image-<%= i %>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <button class="btn btn-light border-dark-subtle">Update Travel Place</button>
            </form>
            <a href="/places/<%= place.id %>">Cancel</a>
        </div>
    </div>