<% layout('/layout/boilerplate') %>

    <div id="map" style="width: 100%; height:350px"></div>

    <div class="container-fluid mt-5">
        <div class="mt-4 mb-5 p-5 text-white rounded" id="index--intro" style="background-image: url('https://images.unsplash.com/photo-1526139334526-f591a54b477c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');">
            <h1>Welcome to Vietnam</h1>
            <p>View our beautiful travel spots for tourists in VietNam, or contribute to the site by adding your own.
            </p>
            <a href="places/new" class="text-white">Add your own travel spot</a>
        </div>
        <div class="row gy-5">
            <% for( let place of places) { %>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <% if (place.images.length) { %>
                            <img src="<%= place.images[0].url %>" class="card-img-top" alt="...">
                            <% } %>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= place.title %>
                                    </h5>
                                    <p class="card-text  text-truncate">
                                        <%= place.description %>
                                    </p>
                                    <div class="d-grid">
                                        <a href="/places/<%= place.id %>" class="btn btn-light fw-bold">View
                                            Place</a>
                                    </div>
                                </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <ul>

    </ul>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const places = {
                features: <%- JSON.stringify(places) %>
            } //Data should be located inside the key "features"
    </script>
    <script src="/scripts/showMap.js"></script>